<% if @cake.errors.any? %>
    <ul id="errors">
    <% @cake.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
<% end %>
<h1> Edit your Cake </h1>

<%= render 'cakeform' %>

        