<% if @cake.errors.any? %>
    <ul id="errors">
    <% @cake.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
<% end %>


<h1> Design A New Cake</h1>
<h2>Please select the style of cake you would like to make.</h2>
<%= render 'cakeform' %>