<header>
  <h1>Make a Customer Account!</h1> 
</header>

<div>
<% if @customer.errors.any? %>
    <ul>
    <% @customer.errors.full_messages.each do |msg| %>
      <li id="flash"><%= msg %></li>
    <% end %>
    </ul>
<% end %>
<%= render 'form' %>
</div>


