<div class="customer-options">


<h2><%= "#{current_customer.username}, would you like to create a cake from a past order or create a new order?" %></h2>
<%= render 'shared/web_links' %>
<%= render 'shared/links' %>