body {
    background-image: url('https://res.cloudinary.com/zsazsa6/image/upload/o_50/v1626454105/Background%20pics/pexels-silvia-trigo-1857157_ixfltl.jpg');
    
    background-color: rgb(248, 244, 239); 
   
    background-size: 100%;
 }
 h1 {
     color:aqua;
 }

 h2 {
     color: white;
 }
  h3 {
      color: rgb(95, 155, 16);
  }
  h4 {
      color:aquamarine;
  }
  links {
      color: blue;
  }
  buttons {
      color: rgb(144, 144, 230);
      text: aquamarine;
  }
  submits {
      color:rgb(240, 152, 46)
  }
  cakes {
      color: rgb(8, 86, 92);
      font-weight: bold;
      font-size: 20px;
        }
   tiers {
       color:rgb(25, 124, 131);
       font-weight: bold;
       font-size: 20px;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   } 