body {
    background-image: url('https://res.cloudinary.com/zsazsa6/image/upload/v1626454105/Background%20pics/pexels-silvia-trigo-1857157_ixfltl.jpg');
    
    background-color: rgb(248, 244, 239); 
   
    background-size: 100%;
 }
 h1 {
     color:aqua;
 }

 h2 {
     color: white;
 }
  h3 {
      color: rgb(221, 247, 187);
  }
  h4 {
      color:aquamarine;
  }
  links {
      color: blue;
  }
  buttons {
      color: blue
  }
  cakes {
      color: rgb(8, 86, 92);
      font-weight: bold;
      font-size: 28px;
      }